* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #F9ECEC;
    min-width: 320px;
    width: 100%;
    vertical-align: middle;
}

header {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

header ~ div, .quantity-block {
    width: 100%;
}

.hide {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;    
}

input[class*="limits"] {
    margin: auto;
    display: block;
}

input[class*="input"] {    
    display: block;
    margin: auto;
}

button[class*="btn"] {
    outline: none;
    height: 75px;
    width: 150px;
}

button[class*="btn-start"] {
    
}

button[class*="btn-try"] {
    /*background-color: lightblue;*/
}

button[class*="btn-continue"] {
    /*background-color: purple;*/
}

.info {
    display: flex;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    margin: auto;
    white-space: pre-line;

    text-align: center;
    vertical-align: middle;
}

.info-lose {
    background-color: #FFA775;
}

.info-win {
    background-color: lightgreen;
}

.info-lose, .info-win {
    height: 150px;
}

.info-help {
    background-color: lightgrey;
}

.score {
    margin: auto;
    height: 37px;
    width: 263px;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
}


/*===============================================================================================*/


.btn{
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    width:90px;
    text-decoration:none;
    text-align:center;
    font: bold 14px arial;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px auto;
    color: #ccc;
    background-color: #555;
    background-image: linear-gradient(top, #888 0%, #555 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(1, #555));
    background-image: -moz-linear-gradient(top, #888 0%, #555 100%);
    background-image: -o-linear-gradient(top, #888 0%, #555 100%);
    border: none;
    border-radius: 3px;
    text-shadow: 0px -1px 0px #000;
    box-shadow: 0px 1px 0px #666,0px 5px 0px #444,0px 6px 6px rgba(0, 0, 0, .6);
    -webkit-transition: ease .15s all;
    -moz-transition: ease .15s all;
    -o-transition: ease .15s all;
    transition: ease .15s all;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
.btn:hover, .btn:focus{
    -webkit-animation: linear 1.2s light infinite;
    -moz-animation: linear 1.2s light infinite;
    -o-animation: linear 1.2s light infinite;
    animation: linear 1.2s light infinite;
}
@-webkit-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@-moz-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@-o-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
.btn:active{
    color: #fff;
    text-shadow: 0px -1px 0px #444,0px 0px 5px #ffd,0px 0px 8px #fff;
    box-shadow: 0px 1px 0px #666,0px 2px 0px #444,0px 2px 2px rgba(0, 0, 0, .9);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}


/*===============================================================================================*/


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* not necessary*/
body {
  display: flex;
  min-height: 100vh;
}
.quantity-block {
  margin: auto;
  font-size: 20px;
}
.quantity-num {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
}